@import "tailwindcss";

:root {
  --background: #020617;
}

html {
  scroll-behavior: smooth !important;

  scrollbar-gutter: stable;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--foreground);
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overscroll-behavior-y: none;
}

* {
  box-sizing: border-box;
}

header {
  transform: translateZ(0);
  will-change: background-color, padding;
  backface-visibility: hidden;
}
